head
    title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    style.
        #grid {
          display:grid;
          margin:1px;
          padding:15px;
          background-color:skyblue;
          height:120px;
        }
body
   .container
   .row
        .col-md-4
        .col-md-3
            ul.list-group(style='margin:25px;font-size:auto;')
                li.list-group-item(style='background:skyblue;')
                    .container
                    .row
                        .col-md-4
                        .col-md-4
                            h4(style='size:40px;color:black;float:center;') Log-in  
                li.list-group-item
                    .container
                    .row
                        .col-md-4 이메일
                        .col-md-8
                            .input-group
                            span.input-group-addon
                            input.form-control(type='text', style='height : 30px')
                            span.input-group-addon
                li.list-group-item
                    .container
                    .row
                        .col-md-4 비밀번호
                        .col-md-8
                            .input-group
                            span.input-group-addon
                            input.form-control(type='password', style='height : 30px')
                            span.input-group-addon
                li.list-group-item
                    a(href='#')
                        button.btn-primary(type='button',style='height:40px;width:100%;margin:10px;') 로그인
                    a(href='#')
                        button.btn(type='button',style='width:100%;background:lightgray;margin:10px;') 회원 가입
            

        .col-md-4