extends ../layout
block hero-unit
    #head
        h2 공지사항

block content
    .container
        .row(style="margin-top:20px;margin-left:0; margin-right:0;")
            .col-md-2

            .col-md-8
            form(action=`/notice/${notice._id}`, style="width:100%;margin-left:auto;margin-right:auto;")
                .form-group
                    label(for='') 제목
                    label.form-control(name='title', placeholder='제목' style="width:100%")= notice.title
                .form-group
                    label(for='') 내용
                    label.form-control(name='content', placeholder='내용' style="width:100%")= notice.content                      