extends ../layout
block hero-unit
    #head
        h2 공지사항 작성
block content
    .container
        .row(style="margin-top:20px;margin-left:0; margin-right:0;")
            .col-md-2

            .col-md-8
            form(action='/notice/notice_write', method='POST' style="width:100%;margin-left:auto;margin-right:auto;")
                .form-group
                    label(for='') 제목
                    textarea.form-control(name='title', placeholder='제목' style="width:100%")
                .form-group
                    label(for='') 내용
                    textarea.form-control(name='content', placeholder='내용' style="width:100%")    
                
                button.btn.btn-primary(type="submit" style="margin-left:auto;margin-right:auto;width:20%;") 저장  