body
    .container-fluid
    .row(style='display:flex;justify-contents:center;')
        .col-md-1  
        .col-md-2
          a(href='#')
            img(src='https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg',style='width:100%;height:auto;',alt='Sheep')
            p(style='margin:5px')
                |상품명, 가격
        .col-md-2
          a(href='#')
            img(src='https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg',style='width:100%;height:auto;',alt='Sheep')
            p(style='margin:5px')
                |상품명, 가격
        .col-md-2
          a(href='#')
            img(src='https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg',style='width:100%;height:auto;',alt='Sheep')
            p(style='margin:5px')
                |상품명, 가격
        .col-md-2
          a(href='#')
            img(src='https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg',style='width:100%;height:auto;',alt='Sheep')
            p(style='margin:5px')
                |상품명, 가격
        .col-md-2
          a(href='#')
            img(src='https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg',style='width:100%;height:auto;',alt='Sheep')
            p(style='margin:5px')
                |상품명, 가격
        .col-md-1
        