extends ../layout

block content
  .container
    h1.main-title 새 여행상품 등록
    form(action="/seller/add", method="POST", enctype="multipart/form-data")
      include product_form
      button.btn.btn-outline-primary(type="submit") 상품을 등록하세요!

