extends ../layout

block content
  .container
    h1.main-title 판매자 가입
    form(action='/seller', method='POST', enctype="multipart/form-data")
      include seller_form
      button.btn.btn-primary(type='submit') 판매자 가입하기