extends ../layout

block content
    .row
        include ./seller_list
    .row
        br
    .row
        .col-md-2
        .col-md-8
            ul.list-group(style='margin:25px;font-size:auto;')
                li.list-group-item
                  .container-fluid
                  .row  
                    .col-md-9 
                      h3 나의 상품 목록
                    .col-md-3
                        a(href='/seller/product/add')
                            button.btn(type="button",style="float:right;margin:10px;width:70px;background:gray;") 추가  
                  .row
                    if !products.total
                      p 등록된 상품이 없습니다
                    each product in products.docs 
                      .col-md-2
                        include ../products/_product
        .col-md-1