div(style="margin-right:auto;margin-left:auto;background-color:white;height:43px;white-space:nowrap;overflow-x:scroll;",id="category_list")
  .ul(style='display:inline-block;')
    a.nav-link(href=`/seller/${currentUser._id}`,style='color:black;display:inline;') 프로필 관리
    a.nav-link(href=`/seller/order/${currentUser._id}`,style='display:inline;color:black;') 진행 상황 입력
    a.nav-link(href=`/seller/products/${currentUser._id}`,style='color:black;display:inline;') 상품 관리