extends ../layout

block content
  .waitBox.d-flex.col-md-4
    form(action='' method="POST")
      label(for= "wait") 이더리움에 등록중입니다. 잠시만 기다려주세요
    button.btn#btn 테스트
    p#exam= product.price  
  script(src='/javascript/talentDeploy.js')

