doctype html
html
  head
    title
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    
    style.
        .box{
          border-radius:80%;
          overflow:hidden;
        }
        #regular {
        width: 300px;
        height: 300px;
        float: left;
        margin : 10px;
        margin-left:100px;
        }
        #product_img {
        width: 300px;
        height: 300px;
        }
        #grid {
          display:grid;
          margin:1px;
          padding:15px;
          background-color:skyblue;
          height:150px;
        }
        
        
        
  body
    block content
