extends layout

block content
   .container
   .row
        .col-md-2
        .col-md-8
            form.form-signin(action='/signin', method='POST')
                .align-center
                    ul.list-group(style='display:flex;justify-content:center;margin-left:3px;margin-top:75px;font-size:auto;width:100%;')
                        li.list-group-item(style='background:skyblue;')
                            h4(style='color:black;text-align:center;') Log-in  
                        li.list-group-item
                            .container
                            .row
                                .col-md-4 이메일
                                .col-md-8
                                    .input-group
                                    span.input-group-addon
                                    input.form-control(type='email', id='email', name='email')
                                    span.input-group-addon
                        li.list-group-item
                            .container
                            .row
                                .col-md-4 비밀번호
                                .col-md-8
                                    .input-group
                                    span.input-group-addon
                                    input.form-control(type='password', id='password', name='password')
                                    span.input-group-addon
                        li.list-group-item      
                            button.btn-primary(type='submit',style='margin:0px;height:40px;width:100%;') 로그인
                            a(href='/users/signup')
                                button.btn(type='button',style='margin:0px;width:100%;background:lightgray;') 회원 가입
        .col-md-2