extends ../layout

block content
  .row
    .col-md-12(style="display:flex;justify-content:center;margin:10px;")
      h4 카테고리 수정
  .row(style="margin-left:auto;margin-right:auto;")
    .col-md-2
    .col-md-8
      form(action='/manager/category', method='POST')
        .form-group
          label(for='name') name
          input.form-control(type='text', id='name', name='name', placeholder='카테고리 명')
        .form-group
          label(for='sequence') 순서
          input.form-control(type='number', id='sequence', name='sequence', placeholder=' 배열순서')
    .col-md-2    
  .row(style="display:flex;justify-content:center;")
    button.btn.btn-primary(type='submit' style="width:20%;") 등록 