div(style="display:block;margin-right:auto;margin-left:auto;height:43px;white-space:nowrap;overflow-x:scroll;",id="category_list")
  .ul(style='display:inline-block;')
    a.nav-link(href=`#`,style='color:black;display:inline;') 유저 관리
    a.nav-link(href=`#`,style='display:inline;color:black;') 상품 관리