body
    block content
        .row
            br
            include manager_list
            br
        .row(style='margin:10px;')
            .col-md-2
            .col-md-8
                .container
                    .row(style="margin-bottom:15px;")
                        .col-md-3
                            img(id='product_img' ,src='https://post-phinf.pstatic.net/20160109_243/cocoqoo_14523048582276nT9w_JPEG/mug_obj_201601091100583892.jpg' ,style="width:100%;height:auto")
                        .col-md-9
                            .row.row-cols-3
                                .col(style="display:flex; justify-content:center; margin-bottom:15px;")
                                    p(style="font-size:25px") A
                                .col
                                    
                                .col    
                                    

                                .col
                                    button.btn(style="width:100%; height:auto;") 정보 확인
                                .col
                                    button.btn(style="width:100%; height:auto;") 수정
                                .col
                                    button.btn(style="width:100%; height:auto;") 삭제
                    .row
                        .col-md-3
                            img(id='product_img' ,src='https://post-phinf.pstatic.net/20160109_243/cocoqoo_14523048582276nT9w_JPEG/mug_obj_201601091100583892.jpg' ,style="width:100%;height:auto")
                        .col-md-9
                            .row.row-cols-3
                                .col(style="display:flex; justify-content:center; margin-bottom:15px;")
                                    p(style="font-size:25px") B
                                .col
                                    
                                .col    
                                    

                                .col
                                    button.btn(style="width:100%; height:auto;") 정보 확인
                                .col
                                    button.btn(style="width:100%; height:auto;") 수정
                                .col
                                    button.btn(style="width:100%; height:auto;") 삭제
                    .row
                        .col-md-3
                            img(id='product_img' ,src='https://post-phinf.pstatic.net/20160109_243/cocoqoo_14523048582276nT9w_JPEG/mug_obj_201601091100583892.jpg' ,style="width:100%;height:auto")
                        .col-md-9
                            .row.row-cols-3
                                .col(style="display:flex; justify-content:center; margin-bottom:15px;")
                                    p(style="font-size:25px") C
                                .col
                                    
                                .col    
                                    

                                .col
                                    button.btn(style="width:100%; height:auto;") 정보 확인
                                .col
                                    button.btn(style="width:100%; height:auto;") 수정
                                .col
                                    button.btn(style="width:100%; height:auto;") 삭제
                    .row
                        .col-md-3
                            img(id='product_img' ,src='https://post-phinf.pstatic.net/20160109_243/cocoqoo_14523048582276nT9w_JPEG/mug_obj_201601091100583892.jpg' ,style="width:100%;height:auto")
                        .col-md-9
                            .row.row-cols-3
                                .col(style="display:flex; justify-content:center; margin-bottom:15px;")
                                    p(style="font-size:25px") D
                                .col
                                    
                                .col    
                                    

                                .col
                                    button.btn(style="width:100%; height:auto;") 정보 확인
                                .col
                                    button.btn(style="width:100%; height:auto;") 수정
                                .col
                                    button.btn(style="width:100%; height:auto;") 삭제
        
