div(style="margin-right:auto;margin-left:auto;background-color:white;height:43px;white-space:nowrap;overflow-x:scroll;",id="category_list")
  .ul(style='display:inline-block;')
    a.nav-link(href=`/users/${currentUser._id}`,style='color:black;display:inline;') 회원 정보
    a.nav-link(href='/seller/join',style='display:inline;color:black;') 판매자 여부 선택
    a.nav-link(href=`/users/products/${currentUser._id}`,style='color:black;display:inline;') 구매 상품 확인
    a.nav-link(href='#',style='display:inline;color:black;') 후기 작성
    a.nav-link(href=`/users/${currentUser._id}?_method=DELETE`,style='color:black;display:inline;') 회원탈퇴