extends ../layout

block content
    .container-fluid
    .row
        .col-md-12
            #grid
                h1(style='font-size:70px;display:flex;justify-content:center;') My page
    .row
        br
    .row
        .col-md-1
        .col-md-2
          ul.list-group(style='margin:25px;font-size:auto;')
            li.list-group-item
              a(href=`/users/${currentUser._id}`)
                button.btn(style='margin:5px; width:100%;height:auto;' ) 회원 정보
            li.list-group-item
              a(href='/seller/join')
                button.btn(style='margin:5px; width:100%;height:auto;') 판매자 여부 선택
            li.list-group-item
              a(href=`/users/products/${currentUser._id}`)
                button.btn(style='margin:5px; width:100%;height:auto;') 구매 상품 확인
            li.list-group-item
              button.btn(style='margin:5px; width:100%;height:auto;' href='#') 후기 작성
            li.list-group-item
              a.need-confirm-btn(href=`/users/${user._id}?_method=DELETE`)
                button.btn(style='margin:5px; width:100%;height:auto;') 회원탈퇴
        .col-md-7
            //- 
                여기에 페이지 별 내용 들어감
            ul.list-group(style='margin:25px;font-size:auto;')
                li.list-group-item
                    h4= user.email 
                li.list-group-item
                    h4 구매 목록 :
                    br
                    include ..\layouts\product_list
                    include ..\layouts\product_list
                    include ..\layouts\product_list
                    include ..\layouts\product_list
        .col-md-1  