extends ../layout

block content
   .container
   .row
        .col-md-2
        .col-md-8
            form(action='/users', method='POST')
                .align-center
                    ul.list-group(style='display:flex;justify-content:center;margin-left:3px;margin-top:75px;font-size:auto;width:100%')
                        li.list-group-item(style='background:skyblue;')
                            h4(style='color:black;text-align:center;') Welcome!
                        li.list-group-item
                            .container
                            .row
                                .input-group
                                input.form-control(type='email',placeholder='사용할 이메일 주소 입력', id='email', name='email')
                        li.list-group-item
                            .container
                            .row
                                .input-group
                                span.input-group-addon
                                input.form-control(type='password', placeholder='사용할 비밀번호 입력', id='password', name='password')
                                span.input-group-addon
                        li.list-group-item
                            .container
                            .row
                                .input-group
                                span.input-group-addon
                                input.form-control(type='password', placeholder='사용할 비밀번호 한번 더 입력', id='password_confirmation', name='password_confirmation')
                                span.input-group-addon
                        li.list-group-item
                            button.btn(type='submit',style='width:100%;margin:0px;') 회원 가입
                

        .col-md-2