extends ../layout

block content
   .container
   .row
        .col-md-4
        .col-md-3
            form(action='/users', method='POST')
                ul.list-group(style='margin:25px;font-size:auto;')
                    li.list-group-item(style='background:skyblue;')
                        .container
                        .form-group
                            .col-md-4
                            .col-md-4
                                h4(style='size:40px;color:black;float:center;') Welcome!
                    li.list-group-item
                        .container
                        .form-group
                            .input-group
                            span.input-group-addon
                            input.form-control(type='email',placeholder='사용할 이메일 주소 입력', style='width :100%;height:30px;margin:10px;', id='email', name='email')
                            span.input-group-addon
                    li.list-group-item
                        .container
                        .form-group
                            .input-group
                            span.input-group-addon
                            input.form-control(type='password', placeholder='사용할 비밀번호 입력',style=style='width :100%;height:30px;margin:10px;', id='password', name='password')
                            span.input-group-addon
                    li.list-group-item
                        .container
                        .form-group
                            .input-group
                            span.input-group-addon
                            input.form-control(type='password', placeholder='사용할 비밀번호 한번 더 입력',style=style='width :100%;height:30px;margin:10px;', id='password_confirmation', name='password_confirmation')
                            span.input-group-addon
                    li.list-group-item
                        button.btn(type='submit',style='width:100%;margin:10px;') 회원 가입
            

        .col-md-4