doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    title
    link(href='css/default.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    style.
      #top{
        display:flex;
        justify-content: flex-end;
        align-items:flex-end;
        background-color:skyblue;
        padding-right: 200px;
        color:white;
        font-style: normal;
        padding-top: 10px;
        }
      h1{
      display:inline;
      color:black;
      font-size:60px;
      }
      h2{
      display: inline;
      color:white;
      font-size:45px;
      }
      #head{
        display:inline;
        text-align:center;
        display: block;
        background-color:skyblue;
        padding-top:50px;
        padding-bottom: 50px;
      }
      #profile{
      display: flex;
      justify-content: center;
      }
      .product_view{
      position:relative;
      padding: 0 0 0 0px; width:900px; box-sizing: border-box;
      }
      #img{
      position:absolute; left:0; top:0;
      border:1px solid #e8e8e8;
      width:300px;
      }
      .total{
      font-size:30px; color: #0a56a9;
      }
      button{
      margin-left:40px;
      }
  body
    #head
        h1 MJ
        h2 mong
    
    .container
    .row
        .col-md-2
        .col-md-4
            ul.list-group(style='margin:20px;font-size:auto;')
                li.list-group-item
                    img(src='https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg',style='width:100%;height:auto;',alt='Sheep')
                li.list-group-item
                    h3 상품 설명
                    p
                    |이 상품은 자바를 공부하는 기초 개인 강좌로~
                li.list-group-item
                    h3 상품 후기
                    p
                    |저는 이 강좌를 듣고~

        .col-md-4
            ul.list-group(style='margin:20px;font-size:auto;')
                li.list-group-item
                    .conainer
                    .row
                        .col-md-4 
                            h4(style='display:inline;margin:15px;') 상품명 :
                        .col-md-8
                            h4 자바 기초 압축 강의
                li.list-group-item
                    .conainer
                    .row
                        .col-md-4 
                            h4(style='display:inline;margin:15px;') 가격 :
                        .col-md-8
                            h4 300,000원
                li.list-group-item     
                    button.btn-primary(style='width:100%;float:right;') 구매
                li.list-group-item
                    h3 판매자 프로필
                    ul.list-group(style='margin:25px;font-size:auto;')
                        li.list-group-item
                            .container
                            .row
                                .col-md-4
                                .col-md-4
                                    img.box(src='https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg',style='width:100%;height:auto',alt='Sheep')
                                .col-md-4
                        li.list-group-item
                            |이메일 : abc@mju.ac.kr
                        li.list-group-item
                            |닉네임 : 명지대학교
                        li.list-group-item
                            |자기 소개 및 경력  